*{
    margin: 0;
    padding: 0;
    text-align: center;
}

.choices{

    margin: auto;
    display: flex;
    justify-content: center;
}
.choice{
    height: 200px;
    width: 200px;
    margin: 30px;
    border-radius: 50%;
    border: 1px solid black;
}


.choice2:hover{
    border: 10px solid black;
}

img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.result-class{
    margin: auto;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    width: 500px;
    height: 40px;
    
}