*{
    margin: 0;
    padding: 0;
    text-align: center;
}

.heading{
    background-color: aqua;
    height: 50px;
    color: blueviolet;
}
.choices{

    margin: auto;
    margin-top: 75px;
    display: flex;
    justify-content: center;
}
.choice{
    height: 200px;
    width: 200px;
    margin: 30px;
    border-radius: 50%;
    border: 1px solid black;
}


.choice2:hover{
    border: 10px solid black;
}

img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.result-class{
    margin: auto;
    margin-top: 75px;
    display: flex;
    justify-content: center;
    width: 500px;
    height: 40px;
}

.score-card{
    width: 500px;
    height: 40px;
    margin: auto;
    margin-top: 75px;
    display: flex;
    justify-content: center;
}

#userscore{
    margin-right: 10px;
}

#compscore{
    margin-left: 10px;
}

